body { 
       background-color: #E3F2FD;
    }
input, textarea { width: 95%; margin: 10px 0; padding: 8px;border-radius: 10px; 
   margin-left: 20px;
   
}

button { 
    padding: 8px 15px; 
    margin-top: 10px; 
    margin-left: 2em;
    background-color:  #007bff;
    border-radius: 5px;
    border: none;
   }
 button:hover{
    background-color: #ccc;
   }
#toggleBtn{
    margin-top: -40px;
    margin-right: 50%;
    float: right;
    background-color:  #758ba3;
   }
#toggleBtn:hover{
    background-color: #ccc;
   }
table { width: 100%; 
       border-collapse: collapse; 
       margin-top: 20px;
       background-color: #ffffff;
    }
th, td { border: 1px solid #ccc; padding: 10px; text-align: left; }
th { background: #f0f0f0; }
.edit { color: green; text-decoration: none; margin-right: 10px; }
.deletee-btn { color: red; text-decoration: none;  }
#disease-list{ display:none; }
#symptom-list{
    display:none;
    margin-top:5%;
}
.new-entry{
    margin: auto;
    width: 50%;
    padding: 10px;
    max-width: 800px;
    border-radius: 15px;
}
h2{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 60px;
    margin-top: 10px;
    padding: 10px 20px;
    text-align: center;
}
header {
    top: 0px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    background-color: #2c3e50;
    color: white;
    border-top-left-radius: 5px;
   
    
}

 
b i{
    color: rgb(28, 29, 28);
    margin: 2em;
}

.scrollable{
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 2px;
}
footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    height: 150px;
   border-radius: 5px;
    background-color: #2c3e50;
    color: #7f8c8d;
}
/*confirmation modal*/
#confirmModal {
            display: none;
            position: fixed;
            top: 0; left: 0;
            width: 100%; height: 100%;
            background: rgba(0,0,0,0.5);
            z-index: 999;
        }

        #confirmModal .modal-content {
            background: white;
            width: 300px;
            padding: 20px;
            border-radius: 8px;
            margin: 150px auto;
            text-align: center;
        }

        .modal-buttons button {
            margin: 10px;
            padding: 8px 15px;
        }

        .delete-btn {
            color: red;
            cursor: pointer;
        }