


        body {
            font-family: Arial, sans-serif;
            background: #f4f7f9;
            padding: 20px;
        }
       
        h2 {
            text-align: center;
            margin-bottom: 30px;
        }

        .result-card {
            
            background: white;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 8px;
            margin-bottom: 25px;
            box-shadow: 0 0 10px rgba(0,0,0,0.05);
        }

        .result-card h3 {
            color: #007bff;
            margin-top: 0;
        }

        .result-card img {
            max-width: 100%;
            height: auto;
            border-radius: 6px;
            margin-bottom: 15px;
        }

        .note {
            color: red;
            font-style: italic;
            margin-top: 10px;
        }

        .back-link, .print-btn {
            display: inline-block;
            margin-top: 15px;
            margin-right: 10px;
            text-decoration: none;
            padding: 8px 15px;
            border-radius: 5px;
            background: #007bff;
            color: white;
        }
        
    

        .print-btn {
            background: #28a745;
            margin-bottom: 50px;
        }

        @media print {
            .print-btn, .back-link {
                display: none;
            }
        }
        
.no-result-box {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
  border-radius: 8px;
  padding: 20px;
  margin-top: 30px;
  max-width: 700px;
}


    footer{
    border: 1px solid grey;
    border-radius: 2px;
    height: 300px;
    padding-left: 50px;
    background-color: #2c3e50;
    color: #7f8c8d;
  }