/* Global Styles */
body {
    background-image: url('/assets/image.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding:0;
    background-color: #e6e9ec;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


.form1 {
    margin-top: 20px;
    margin-left: 200px;
    width: 300px;
    height: 300px;
    border: 1px solid gray;
    border-radius: 15px;
    text-align: center;
}



/* Form Styles */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

 .form-group input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin-top:200px ;
}

.btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-left: 70%;
}

.btn:hover {
    background-color: #2980b9;
}

/* Suggestions */
.suggestions {
    margin-top: 20px;
    padding: 15px;
    background-color: #ecf0f1;
    border-radius: 4px;
    display: none;
}

.suggestion-item {
    padding: 8px;
    margin: 5px 0;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #d6eaf8;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    color: #7f8c8d;
}
#symptomsList{
        width: 400px;
        left: 0;
        background-color: white;
        border: 1px solid black;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        
    
}
.hidden {
    display: none;
}
.scrollable{
    height: 300px;
    overflow-y: auto;
    padding: 5px;
}
/*secces msg*/
.flash-message {
  margin: 15px auto;
  padding: 12px 20px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  width: 90%;
  max-width: 600px;
}

.flash-message.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

